<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="fanling6.css" type="text/css" />
	<title>{{.Meta.Ident}}</title>
</head>

<body>

	{{/* http://paletton.com/#uid=10b0u0kmRmRn24bn7d0lqvjkAR7 .color-primary-0 { color:
	#B65134 } .color-primary-1 { color: #210F09 } .color-primary-2 { color: #682E1D
	} .color-primary-3 { color: #F97853 } .color-primary-4 { color: #FF805B } */}}